canvas {
    background-image: url('stage.png'); 
    display: block;
    background-size: cover;  
    background-position: center; 
    margin: auto;    
}


body {
  text-align: center; 
  cursor: url('./pointerSM.png') 16 16, auto;
}

#start {
  position: absolute;
  float: right;
  height: 80px;
  width: 100px;
}

